    .sidebar {
        width: 250.99px;
        background: linear-gradient(175.93deg, #5F00D8 -10.23%, #B200F1 117.03%);
    }

    .sidebar-logo {
        display: inline-block;
        text-decoration: none;
        margin-top: 43px;
        margin-left: 34px;
        margin-bottom: 35px;
    }

    .line {
        width: 181.83px;
        height: 1px;
        background-color: #fff;
        margin-left: 10px;
        opacity: 0.2;
    }

    .sidebar-list {
        text-align: center;
        margin-top: 38px;
    }

    .link {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 22px;
        color: white;
        text-decoration: none;
        display: block;
    }