*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.container-fluid{
  max-width: 1280px;
  width: 100%;  
  margin: 0 auto;
}

.container{
  max-width:calc(1280px - 120px - 220px );
  width: 100%;  
  margin: 0 auto;
}


body{
  background: #F3F3F3;
}

.mainV{
  display: flex;
  height:946px;
}
